# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/programacion_1/clases/abril_junio/variables_pulic/nbproject/private/
/programacion_1/control2/chaparro_Gonzalez_2/nbproject/private/
/programacion_1/control2/Chaparro_Gozalez_1/nbproject/private/
/programacion_1/clase11_07_2015/ejemplo1/nbproject/private/
/programacion_1/clase11_07_2015/ejemplo1/build/
/programacion_1/clase11_07_2015/Solemne/nbproject/private/
/programacion_1/solemne11julio2015/Miguel_Gonzalez/nbproject/private/
/programacion_1/solemne11julio2015/Miguel_Gonzalez/build/